#root {
  margin: 0;
  padding: 0;
  text-align: left;
}

.app-content {
  margin-left: 250px;
  padding: 2rem;
  transition: margin-left 0.3s ease;
  min-height: 100vh;
}

.app-content.collapsed {
  margin-left: 0;
}
